{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wide title-bar-bg animated zoomIn">
<img class="img-responsive" src="{% static 'images/about1.jpg' %}" style="    width: 100%;height: auto;"/>
<div class="container title-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center title">
                    <h1 class="title-heading"></h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div><!-- /.container -->
</div>

<div class="container title-bottom-section">
    <div class="row">

        <div class="col-md-12">
            <div class="basic-page--text">
            {% if about_text %}
                <p>{{ about_text.text|safe }}</p>
            {% endif %}
            </div>

        </div>


    </div>
       <section class="lg-panel lg-panel__left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="basic-page--text-img">
                                 <img src="{% static 'images/Membership1.jpg' %}" alt="My image"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="uper-img">
                                <img src="{% static 'images/blast1.jpg' %}" alt="My image"/>
                            </div>
                            <div class="lower-img">
                                <img src="{% static 'images/blast2.jpg' %}" alt="My image"/>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
</div>


{% endblock content %}