{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wide title-bar-bg" style="background-image:url('/static/images/contact.jpg') !important;">
<div class="container title-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center title">
                    <h1 class="title-heading"></h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div><!-- /.container -->
</div>



{% endblock content %}