{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<!-- RESPONSIVE SLIDER - START -->
<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true" data-interval="5000" data-transitiontime="300">


  <div class="slides" data-group="slides">
   <ul>
   {% for sliderimg in sliderImages %}

      <li class="slider-li">

        <div class="slide-body" data-group="slide">
          <!--<img src="{% static 'images/hd.jpg' %}">-->
            <img src="{{sliderimg.image.url}}"/>

        </div>

      </li>

    {% endfor %}
    </ul>
  </div>

  <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-chevron-left"></i></a>
  <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-chevron-right"></i></a>

</div>
<!-- RESPONSIVE SLIDER - END -->

		<!-- credits
		<p id="credits">Made with love by <a href="https://github.com/Vchouliaras">Vchouliaras</a></p>
		<a href="https://github.com/Vchouliaras/jquery.animateSlider.js">
			<img id="github-logo" src="{% static 'images/github-cat.png' %}" alt="Github Cat">
		</a>
		-->
<script>
$( document ).ready( function() {
  $('.responsive-slider').responsiveSlider();
});
</script>
<script>
$( document ).ready( function() {
  $('.responsive-slider').responsiveSlider({
    autoplay: true,
    interval: 5000,
    transitionTime: 300
  });
});
</script>

      <!-- responsive slider -->
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/jquery.event.move.js' %}"></script>
      <script src="{% static 'js/responsive-slider.js' %}"></script>



<div class="container title-bottom-section">
    <div class="row">

        <div class="col-md-12">
            <div class="basic-page--text home-page-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            </div>

        </div>

    </div>
</div>

<section class="lg-panel lg-panel__left">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="basic-page--text-img">
                     <img src="{% static 'images/Membership1.jpg' %}" alt="My image"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uper-img">
                    <img src="{% static 'images/blast1.jpg' %}" alt="My image"/>
                </div>
                <div class="lower-img">
                    <img src="{% static 'images/blast2.jpg' %}" alt="My image"/>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="container">
	<div class="section--sep section--sep__sm"></div>
</div>
<section class="lg-panel lg-panel__left">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="top-batsmen">
                    <div class="section-name">
                        <h3>Top Batsmen 2018</h3>
                    </div>
                    <div class="performence">
                        <div class="player-pic">
                            <img src="{% static 'images/p4.jpg' %}"/>
                        </div>
                        <div class="name">
                           <span>Name : </span> <span>Bilal Waheed</span>
                        </div>
                        <div class="abc">
                           <span>Match Played : </span> <span>100</span><br>
                            <span>Runs Scored : </span><span>10000</span><br>
                           <span>Strike Rate : </span> <span>170.11</span><br>
                           <span>Average : </span> <span>58</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                              <div class="top-batsmen">
                    <div class="section-name">
                        <h3>Top Bowler 2018</h3>
                    </div>
                    <div class="performence">
                        <div class="player-pic">
                            <img src="{% static 'images/p5.jpg' %}"/>
                        </div>
                        <div class="name">
                           <span>Name : </span> <span>Bilal Waheed</span>
                        </div>
                        <div class="abc">
                           <span>Match Played : </span> <span>100</span><br>
                            <span>Runs Scored : </span><span>10000</span><br>
                           <span>Strike Rate : </span> <span>170.11</span><br>
                           <span>Average : </span> <span>58</span>
                        </div>

                    </div>
                </div>
            </div>
			<div class="col-md-4">
                              <div class="top-batsmen">
                    <div class="section-name">
                        <h3>Top Fielder 2018</h3>
                    </div>
                    <div class="performence">
                        <div class="player-pic">
                            <img src="{% static 'images/p3.jpg' %}"/>
                        </div>
                        <div class="name">
                           <span>Name : </span> <span>Bilal Waheed</span>
                        </div>
                        <div class="abc">
                           <span>Match Played : </span> <span>100</span><br>
                            <span>Runs Scored : </span><span>10000</span><br>
                           <span>Strike Rate : </span> <span>170.11</span><br>
                           <span>Average : </span> <span>58</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
	<div class="section--sep section--sep__sm"></div>
</div>
<section class="latest-news hidden-sm">
    <div class="container">
        <div class="latest-news--title-holder">
            <h2 class="latest-news--title">Latest News</h2>
        </div>
    </div>
    {% for new in news %}
    <div class="lastest-news-story">

       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img class="wow swing" src="{{new.image.url}}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 new-detail">
                    <div class="latest-news--story-title">{{new.title}}</div>
                    <div class="latest-news--story-date">2 Mar 2018</div>
                    <div class="latest-news--story-text">
                        {{new.description}}
                    </div>
                    <a class="latest-news--story-link" href="{% url 'news_detail' new.id %}">Read More</a>
                </div>
            </div>
       </div>

    </div>
    {% endfor %}

</section>
<div class="container">
	<div class="section--sep section--sep__sm"></div>
</div>


<script>

new WOW().init();

</script>
{% endblock content %}