{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wide title-bar-bg" style="background-image:url('/static/images/news.jpg') !important;">
<div class="container title-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center title">
                    <h1 class="title-heading"></h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div><!-- /.container -->
</div>
<section class="latest-news hidden-sm">
    <div class="container">
        <div class="latest-news--title-holder">
            <h2 class="latest-news--title">Latest News</h2>
        </div>
    </div>
    <div class="lastest-news-story">
       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img src="{% static 'images/n1.jpg' %}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="latest-news--story-title">Blast from the past: Ed Joyce and Chris Nash</div>
                    <div class="latest-news--story-date">2 Mar 2018</div>
                    <div class="latest-news--story-text">
                        Tickets for all seven of our home Vitality Blast fixtures went on sale yesterday, and today sees us continue our Blast from the past feature.
                    </div>
                    <a class="latest-news--story-link" href="#">Read More</a>
                </div>
            </div>
       </div>
    </div>
    <div class="lastest-news-story">
       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img src="{% static 'images/n1.jpg' %}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="latest-news--story-title">Blast from the past: Ed Joyce and Chris Nash</div>
                    <div class="latest-news--story-date">2 Mar 2018</div>
                    <div class="latest-news--story-text">
                        Tickets for all seven of our home Vitality Blast fixtures went on sale yesterday, and today sees us continue our Blast from the past feature.
                    </div>
                    <a class="latest-news--story-link" href="#">Read More</a>
                </div>
            </div>
       </div>
    </div>
    <div class="lastest-news-story">
       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img src="{% static 'images/n1.jpg' %}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="latest-news--story-title">Blast from the past: Ed Joyce and Chris Nash</div>
                    <div class="latest-news--story-date">2 Mar 2018</div>
                    <div class="latest-news--story-text">
                        Tickets for all seven of our home Vitality Blast fixtures went on sale yesterday, and today sees us continue our Blast from the past feature.
                    </div>
                    <a class="latest-news--story-link" href="#">Read More</a>
                </div>
            </div>
       </div>
    </div>
    <div class="lastest-news-story">
       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img src="{% static 'images/n1.jpg' %}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="latest-news--story-title">Blast from the past: Ed Joyce and Chris Nash</div>
                    <div class="latest-news--story-date">2 Mar 2018</div>
                    <div class="latest-news--story-text">
                        Tickets for all seven of our home Vitality Blast fixtures went on sale yesterday, and today sees us continue our Blast from the past feature.
                    </div>
                    <a class="latest-news--story-link" href="#">Read More</a>
                </div>
            </div>
       </div>
    </div>
</section>


{% endblock content %}