{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="wide title-bar-bg" style="background-image:url('/static/images/latest.png') !important;">
<div class="container title-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center title">
                    <h1 class="title-heading">Detail Page</h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div><!-- /.container -->
</div>

<section class="latest-news hidden-sm">
    <div class="container">
        <div class="latest-news--title-holder">
            <h2 class="latest-news--title">Player Detail</h2>
        </div>
    </div>
    <div class="lastest-news-story">
       <div class="container">
           <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="latest-news--story-img"><img src="{% static 'images/n1.jpg' %}" alt="My image"/></div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="latest-news--story-title">VINU MOHAN (All Rounder)</div>
                    <div class="latest-news--story-date">88 ODI Matches</div>
                    <div class="latest-news--story-date">50 Test Matches</div>
                    <div class="latest-news--story-date">5,501 Runs</div>
                    <div class="latest-news--story-date">600 Wickets</div>
                    <div class="latest-news--story-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>

                </div>
            </div>
       </div>
    </div>

</section>

{% endblock content %}