{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wide title-bar-bg animated zoomIn">
    <img class="img-responsive" src="{% static 'images/team.jpg' %}" style="    width: 100%;height: auto;"/>
    <div class="container title-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text-center title">
                        <h1 class="title-heading"></h1>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<section class="latest-news fixture-latest-news hidden-sm">
    <div class="container">
        <div class="latest-news--title-holder">
            <h2 class="latest-news--title">TEAMS</h2>
        </div>
    </div>
</section>

<!-- Team tabs -->
<div class="container" style="    text-align: -webkit-center;">


    <ul class="nav nav-pills" style="    margin-left: 49px;">
        {% for team in teams %}
        <li><a data-toggle="pill" class='menu-{{team.id}}' href="#menu-{{team.id}}">{{team.name}}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for team in teams %}
        <!--<div id="menu-{{team.id}}" class="tab-pane fade {% if teams.id == 0 %} in active {% endif %}">-->
        <!--<div id="menu-{{team.id}}" class="tab-pane fade {{ forloop.counter }}in active">-->
        <!--<div id="menu-{{team.id}}" class="tab-pane fade {% if forloop.first %}{% endif %} in active">-->
        <div id="menu-{{team.id}}" class="tab-pane fade {% if forloop.counter0 %}active{% endif %} ">
            {% for player in team.player_set.all %}
            <div class="col-md-4 player">
                <div class="img-section">
                    <!--<a href="/club_pages/detail"> <img src="{% static 'images/p3.jpg' %}" alt="My image"/> </a>-->
                    <a href="{% url 'detail' player.id %}"><img style="width: 269px;height: auto;" class="wow swing img-responsive" src="{{player.image.url}}"> </a>
                </div>
                <div class="player--name">
                    {{ player.name }}
                </div>
                <div class="player--info matchHeight">
                    <div class="player--info-text"><strong>DOB: </strong><span><time datetime="1994-07-08T12:00:00Z">
                        {{player.dob}}
                    </time>
                    </span></div>
                    <div class="player--info-text"><strong>Birthplace: </strong><span>{{ player.birth_place }}</span>
                    </div>
                    <div class="player--info-text"><strong>Squad Number: </strong><span>{{ player.squad_no }}</span>
                    </div>
                    <div class="player--info-text"><strong>Bowling
                        Style: </strong><span>{{ player.bowling_style }} </span></div>
                    <div class="player--info-text"><strong>Batting
                        Style: </strong><span>{{ player.batting_style }}</span></div>

                </div>


            </div>
            {% endfor %}
        </div>
        {%endfor%}


    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    document.getElementsByClassName('menu-' + '{{teams.0.id}}')[0].click()
</script>

{% endblock extrajs%}