.fixed-top
{
    background-color: #0C4DA2;
    position: fixed ;
    height: 70px;
}
.top-menu
{
background-color: #0C4DA2 !important;
}
.navbar-brand
{
padding-top: 0px !important;
}
.bg-dark
{
background-color: #0C4DA2 !important;
}
.page-footer
{
    background-color: #0C4C9F !important;
}
.flex-center
{
    display: inline-flex !important;
}
.flex-center a
{
    padding-right:15px !important;
}
.uper-page-footer
{
    margin-top:100px !important;
    background-color: white !important;
}
.footer--sponsor-title
{
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.indigo
{
background-color:white;
}
.section--sep
{
    height: 1px !important;
    width: 70% !important;
    margin: 35px auto !important;
    background: rgba(179, 179, 179, 0.6) !important;
}
.title-bar-bg
{
margin-top:70px !important;
height:500px;
}
.title
{
margin-top:150px;
}
.title-heading
{
font-size: 75px;
color: #0C4DA2 !important
}
.navbar-dark .navbar-nav .nav-link
{
    color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    border-right: 1px solid white;
    padding-right: 23px !important;
    padding-left: 35px !important;
}
.mb-3 .title a
{
    color: white !important;
}
.title-bottom-section
{
padding-top:10px !important;
}
.uper-img
{
padding-bottom:20px !important;
}
.basic-page--text
{
    padding-top: 50px !important;
    padding-bottom: 40px !important;
}
.section--sep__sm
{
    margin: 25px auto !important;
    height: 1px !important;
    width: 97.3% !important;
    margin: 35px auto !important;
    background: rgba(179, 179, 179, 0.6) !important;
}
.latest-news .latest-news--title-holder
{
    margin: 30px 15px 40px !important;
    border-bottom: 5px solid #fdb813 !important;
}
.latest-news .latest-news--title-holder h2
{
    margin: 0;
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    background-color: #0d4ca1;
    color: white;
}
.latest-news--story-title
{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0c4da2;
}
.latest-news--story-date
{
color: #00aeef;
}
.latest-news--story-text
{
    font-size: 1.125rem;
    color: #848484;
    margin: 15px 0;
}
.latest-news--story-link
{
    padding: 15px 38px;
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: solid 1px #fdb813;
    margin-top: 15px;
    color: #0c4da2;
    text-transform: uppercase;
}
.lastest-news-story
{
margin-bottom: 40px;
}
.player-section
{
    margin-top: 50px !important;
}
.link-section
{
    background-color: #0C4DA2;
    width: 270px;
    color: white;
    padding: 5px 0px 5px 5px;
}
.results-result--date
{
    padding-left: 15px;
    font-size: 1.125rem;
    color: #0c4da2;
    font-weight: bold;
}
.results-result--text
{
    padding: 10px 0 10px 15px;
    font-size: 0.875rem;
    color: #848484;
}
.results-result--team-name
{
    padding-left: 10px;
    font-size: 22px;
    color: #0c4da2;
    font-weight: bold;
    padding-bottom: 20px;
}
.results-result--team-logo img
{
    margin-top: -8px !important;
    width: 56px;
    height: 48px;
    float: left;
}
.fixture-strip--
{
    padding: 25px 0 15px;
    border: 1px solid #d7d7d7;
}
.player--name
{
    font-size: 21px;
    padding: 10px 30px;
    background-color: #c10000;
    color: white;
    font-weight: bold;
    color: white;
    font-weight: bold;
    width: 270px;
}
.player .matchHeight
{
    border: 1px solid;
    padding: 20px 20px;
    width: 270px;
}
.player--info-text
{
    color: #c10000;
    margin-bottom: 5px;
    font-size: 14px;
}
.player--info-text span
{
    color: black;
}
.players--holder .player .player--social a
{
    width: 100%;
    text-align: center;
        padding: 4px 32px 4px 37px;
    border-right: 0.5px solid black;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    /* border-left-color: transparent; */
    font-size: 1.5625rem;
    color: #0c4da2;
}
.players--holder .player .player--social .social-icon:hover
{
    background-color: #c10000;
    color: white;
}
.players--holder .player .player--social .social-icon:hover a
{

    color: white;
}
.social-icon
{
float:left;
}
.players--holder .new-mrg .player
{
padding-bottom: 50px;
}
.section-heading
{
text-align:center;
}
.section-description
{
text-align:center;
}
.contact-icons
{
margin-top:50px;
}
@media only screen and (max-width: 768px) {
.flex-center
{
display: table-caption !important;
text-align: -webkit-center !important;
}
.basic-page--text-img img
{
width:100% !important;
}
.fixed-top
{
    position: relative !important;
    height: unset !important;
}
.title-bar-bg
{
    margin-top: -20px !important;
    margin-bottom: 70px !important;
    background-image: none !important;
    height: 50px !important;
}

}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.title
{
margin-top: 50px;
}
.nav-pills
{
    margin-bottom: 20px !important;

}
.results-result--team-logo span
{
font-weight: bold !important;
font-size: 19px;
}
.nav-item:hover
{
background-color: #a40000;
}
.responsive-slider
{
    margin-top: -34px !important;
}
